html {
  font-size: 62.5%;
}

@media (max-width: 1650px) {
  html {
    font-size: 51%;
  }
}

body {
  font-size: 16px;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.5;
  color: #ffffff;
}

@media (max-width: 1650px) {
  body {
    font-size: 13px;
  }
}

footer {
  background: #0b0c11;
  background-size: 100% 100%;
}

footer.page {
  background-color: #17191e;
}

.head-footer {
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 15px;
  line-height: 1.4;
}

.top-footer {
  padding: 5.5rem 0 2rem 0;
  background-color: #f8f8f8;
  color: black;
}

.logo-ft {
  display: block;
  margin-bottom: 25px;
}

@media (max-width: 1650px) {
  .logo-ft {
    max-width: 198px;
  }
}

.ft-item.v2, .ft-item.v5, .ft-item.v3, .ft-item.v4 {
  color: rgba(0, 0, 0, 0.8);
}

@media (min-width: 1601px) {
  .ft-item.v5 {
    margin-left: -15px;
  }
}

.ft-item .title {
  text-transform: uppercase;
  color: inherit;
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 1.8rem;
}

.ft-item .title i {
  display: none;
}

.ft-item .info .phone {
  color: #ea1c2d;
  text-decoration: underline;
  word-break: break-all;
}

@media (min-width: 1200px) {
  .ft-item .info {
    padding-right: 80px;
  }
}

@media (min-width: 1650px) {
  .ft-item .info {
    padding-right: 58px;
  }
}

.ft-item .info li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.2rem;
}

.ft-item .info li i {
  color: #ea1c2d;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25px;
          flex: 0 0 25px;
  margin-right: 5px;
  margin-top: 0.6rem;
}

@media (max-width: 1650px) {
  .ft-item .info li i {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20px;
            flex: 0 0 20px;
  }
}

.ft-item .link-ft li {
  padding-bottom: 15px;
}

.ft-item .link-ft li a {
  font-size: 1.6rem;
  display: block;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.ft-item .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}

.ft-item .bottom .certificate {
  margin-right: 12px;
}

@media (max-width: 1650px) {
  .ft-item .bottom .certificate {
    max-width: 139px;
  }
}

.ft-item .social-ft {
  margin-bottom: -5px;
}

.ft-item .social-ft li {
  display: inline-block;
  margin: 0 8px;
}

@media (max-width: 1650px) {
  .ft-item .social-ft li {
    margin: 0 6px;
  }
}

.ft-item .social-ft li a {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.ft-item .social-ft li:hover:nth-child(1) a {
  color: #3b5998;
}

.ft-item .social-ft li:hover:nth-child(2) a {
  color: #00b2ff;
}

.ft-item .social-ft li:hover:nth-child(3) a {
  color: #de0000;
}

.copyright {
  padding: 15px 0;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .copyright {
    max-width: 80%;
  }
}

@media (max-width: 991px) {
  .ft-item {
    margin-bottom: 20px;
  }
  .top-footer {
    padding-bottom: 4.5rem;
  }
}

@media (max-width: 767px) {
  footer {
    background-size: cover;
  }
  .ft-item .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .ft-item .title i {
    display: block;
    font-size: 20px;
  }
  .ft-item .link-ft {
    display: none;
  }
}

@media (max-width: 575px) {
  .copyright {
    text-align: left;
    font-size: 12px;
  }
  .copyright p {
    margin-bottom: 5px;
  }
}
/*# sourceMappingURL=footer.css.map */