@import "var";
@import "base";
header{
	padding: 20px 0 !important;
	position: fixed;
	z-index: 98;
	width: 100%;
	top: 0;
	left: 0;
	background-color: $c2;
	transition: 0.4s;
	.logo.black{
		display: none;
	}
	.logo {
		max-width: 243px;
	  }
	.logo img{
		/*filter: brightness(0) invert(1);*/
	}
	&.scroll{
		background-color: $c2;
		padding: 10px 0;
		box-shadow: 0 0 6px 0 rgba(#000,0.4);
		// .logo{
		// 	img{
		// 		max-height: 40px;
		// 		@media (max-width: 1650px) {
		// 			max-height: 36px;
		// 		}
		// 	}
		// }
		// .logo-abs{
		// 	img{
		// 		max-height: 40px;
		// 		@media (max-width: 1650px) {
		// 			max-height: 36px;
		// 		}
		// 	}
		// }
		.d-nav>ul>li>ul{
			top: calc(100% + 10px);
		}
		.search-header .box-search{
			top: calc(100% + 1.4rem);
		}
	}
	&.page{
		background-color: $c2;
		padding: 13px 0;
		.logo img{
			filter: brightness(1) invert(0);
			// max-height: 52px;
			// @media (max-width: 1650px) {
			// 	max-height: 44px;
			// }
		}
		&.scroll{
			padding: 10px 0;
			// .logo img{
			// 	max-height: 40px;
			// 	@media (max-width: 1650px) {
			// 		max-height: 36px;
			// 	}
			// }
		}
	}
}
// .logo-abs{
// 	position: absolute;
// 	left: 0;
// 	top: 0;
// 	width: 28%;
// 	height: 100%;
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	z-index: 1;
// 	img{
// 		max-height: 48px;
// 		transition: 0.4s ease-in-out;
// 	}
// 	@media (max-width: 1650px) {
// 		width: 26%;
// 		img{
// 			max-height: 44px;
// 		}
// 	}
// }
.logo{
	// opacity: 0;
	// visibility: hidden;
	img{
		// max-height: 48px;
		transition: 0.4s ease-in-out;
	}
	@media (max-width: 1650px) {
		img{
			// max-height: 44px;
		}
	}
}
.wrap-header{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: 0.4s ease-in-out;
}
.right-header{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.control-header{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	position: relative;
	.item{
		margin: 0 1.6rem;
		position: relative;
		transition: 0.3s ease-in-out;
		&:last-child{
			margin-right: 0;
		}
	}
}
.search-header{
	position: initial !important;
	.box-search{
	    position: absolute;
	    width: 43.4rem;
	    right: 0;
	    z-index: 2;
	    border-radius: 4px;
	    box-shadow: 0 1px 6px 0 rgba(#000, 0.3);
	    display: none;
	    top: calc(100% + 1.6rem);
	    background: #fff;
	    padding: 0;
	   /* &:before{
	        content: '';
	        position: absolute;
	        bottom: 100%;
	        width: 0;
	        height: 0;
	        right: 6.6rem;
	        border-left: 1rem solid transparent;
	        border-right: 1rem solid transparent;
	        border-bottom: 1rem solid #fff;
	    }*/
	    &:before{
	        content: '';
	        position: absolute;
	        bottom: calc(100% - 1rem);
	        width: 1.6rem;
	        height: 1.6rem;
	        right: 6.6rem;
	        background-color: #fff;
	        //box-shadow: -1px -1px 10px -2px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 0 6px 0 rgba(#000, 0.3);
	        transform: rotate(45deg);
	    }
	    
	}
	.search-fr{
	    position: relative;
	    z-index: 1;
	    input{
	        background-color: #fff;
	        width: 100%;
	        height: 5rem;
	        color: $c2;
	        border: none;
	        @include place($c-text);
	        padding-right: 5rem;
	        padding-left: 2rem;
	        font-size: 1.7rem;
	        font-weight: 500;
	        letter-spacing: 0.02em;
	        border-radius: 4px;
	        &::placeholder{
	        	color: #262525;
	        	font-weight: 500;
	        	letter-spacing: 0.02em;
	        }
	    }
	    button{
	        position: absolute;
	        top: 0;
	        bottom: 0;
	        right: 1.5rem;
	        color: $c1;
	        font-size: 2.2rem;
	    }
	}
}
.form-search-head{
	position: relative;
	max-width: 60%;
	margin: 0 auto;
	.form-control{
		background-color: transparent;
		border: none;
		border-bottom: 1px solid #fff;
		border-radius: 0;
		color: #fff;
		box-shadow: none;
		padding-left: 0;
		padding-right: 0;
		height: 50px;
		&::placeholder{
			color: rgba(#fff,0.6);
			font-weight: 400;
		}
	}
	.btn-search{
		position: absolute;
		top: 6px;
		right: 0;
		font-size: 20px;
		color: #fff;
		transition: .3s ease-in-out;
		&:hover{
			color: $c1;
		}
	}
	@media (max-width: 767px) {
		max-width: 100%;
	}
}
.lang-header{
	position: relative;
	z-index: 2;
	text-transform: uppercase;
	.label{
		cursor: pointer;
		border-radius: 50%;
		width: 32px;
		height: 32px;
		@media (max-width: 1550px) {
			width: 27px;
			height: 27px;
		}
		img{
			border-radius: 50%;
		}
	}
	ul{
		display: none;
		position: absolute;
		border-radius: 4px;
		left: 0;
		width: auto;
		top: calc(100% + 10px);
		li{
			display: block;
			margin-bottom: 5px;
			a{
				display: inline-block;
				width: 32px;
				height: 32px;
				@media (max-width: 1650px) {
					width: 28px;
					height: 28px;
				}
				img{
					border-radius: 50%;
				}
			}
		}
	}
}
.d-nav{
	flex-grow: 1;
	>ul{
		display: flex;
		align-items: center;
		justify-content: flex-end;
		>li{
			display: inline-block;
			margin: 0 30px;
			&.active{
				>a{
					color: $c1;
				}
			}
			>a{
				font-weight: 500;
				text-transform: uppercase;
				position: relative;
				&:after{
					content: '';
					position: absolute;
					left: 0;
					width: 100%;
					top: 100%;
					height: 40px;
				}
				&:hover{
					color: $c1;
				}
			}
			&:hover{
				>a{
					color: $c1;
				}
				>ul{
					transform: scale(1);
					opacity: 1;
				}
			}
			>ul{
				position: absolute;
				min-width: 20rem;
				background-color: $c2;
				padding: 1rem 0;
				border-radius: 0 0 0 2rem;
				z-index: 1;
				top: calc(100% + 13px);
				transition: 0.3s ease-in-out;
				transform: scale(0);
				transform-origin: 0% 0%;
				>li{
					position: relative;
					>a{
						font-size: 1.6rem;
						display: block;
						padding: 1rem 1.5rem;
						position: relative;
						white-space: nowrap;
						&:before{
							content: '';
							position: absolute;
							left: 1.5rem;
							width: 0;
							height: 1px;
							top: 50%;
							transform: translateY(-50%);
							background-color: $c1;
							transition: 0.2s;
						}
					}
					&.active{
						>a{
							//padding-left: 2.8rem;
							color: $c1;
							&:before{
								//width: 0.8rem;
							}
						}
					}
					&:hover{
						>ul{
							visibility: visible;
							opacity: 1;
							top: 0;
						}
						>a{
							//padding-left: 2.8rem;
							color: $c1;
							&:before{
								//width: 0.8rem;
							}
						}
					}
					>ul{
						position: absolute;
						min-width: 20rem;
						background-color: $c2;
						padding: 1rem 0;
						border-radius: 0 0 1rem 1rem;
						z-index: 1;
						top: 2rem;
						opacity: 0;
						visibility: hidden;
						left: 100%;
						transition: 0.3s ease-in-out;
						>li{
							>a{
								font-size: 1.6rem;
								display: block;
								padding: 1rem 1.5rem;
								position: relative;
								white-space: nowrap;
								&:before{
									content: '';
									position: absolute;
									left: 1.5rem;
									width: 0;
									height: 1px;
									top: 50%;
									transform: translateY(-50%);
									background-color: $c1;
									transition: 0.2s;
								}
							}
							&.active{
								>a{
									//padding-left: 2.8rem;
									color: $c1;
									&:before{
										//width: 0.8rem;
									}
								}
							}
							&:hover{
								>a{
									//padding-left: 2.8rem;
									color: $c1;
									&:before{
										//width: 0.8rem;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
.icon-menu{
	display: none;
}
@media (max-width: 1650px) {
	header{
		padding: 16px 0;
	}
	.control-header{
		
	}
	.logo{
		max-width: 212px;
	}
	.d-nav{
		>ul>li{
			margin: 0 25px;
		}
	}				
}
@media (max-width: 1199px) {
	header{
		padding: 14px 0;
		&.scroll{
			padding: 10px 0;
			.logo-abs{
				img{
					max-height: 26px;
				}
			}
		}
	}
	.right-header{
		
	}
	.logo-abs{
		img{
			max-height: 30px;
		}
	}
	.logo{
		max-width: 180px;
		
	}
	.d-nav{
		display: none;
	}
	.icon-menu{
		display: block;
		width: 24px;
		position: relative;
		margin-left: 15px;
		span{
			display: block;
			background-color: $c1;
			width: 100%;
			margin: 1.5px 0;
			border-radius: 3px;
			height: 2px;
			float: right;
			&:first-child{
				margin-top: 0;
			}
			&:nth-child(2n+1){
				width: 18px;
			}
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}
@media (max-width: 991px) {
	.logo-abs{
		width: 33%;
		padding: 10px;
	}
}
@media (max-width: 575px) {
	.logo-mb{
		img{
			max-width: 50px;
		}
	}
	.search-header .box-search{
		width: calc(100vw - 26px);
		right: -39px;
		&:before{
			right: 11.3rem;
		}
	}
	.control-header{
		.item{
			margin: 0 10px;
		}
	}
}