html {
  font-size: 62.5%;
}

@media (max-width: 1650px) {
  html {
    font-size: 51%;
  }
}

body {
  font-size: 16px;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.5;
  color: #ffffff;
}

@media (max-width: 1650px) {
  body {
    font-size: 13px;
  }
}

object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img,
ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
}

b, strong, th {
  font-weight: bold;
}

i, em {
  font-style: italic;
}

sub, sup {
  font-size: 75%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 20px 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
  outline: none;
}

ol, ul, li {
  padding: 0;
  list-style: none;
  margin: 0;
}

label {
  font-weight: normal;
}

input[type="text"], input[type="email"], input[type="password"] {
  padding-left: 12px;
  padding-right: 12px;
}

select {
  padding-left: 8px;
  cursor: pointer;
}

input[type="number"] {
  padding-left: 5px;
}

textarea {
  padding: 8px 12px 5px 12px;
}

input, textarea, select, button, a, button:hover, button:active, button:focus {
  outline: none;
}

button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

img {
  max-width: 100%;
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
}

html {
  font-size: 62.5%;
}

@media (max-width: 1650px) {
  html {
    font-size: 51%;
  }
}

body {
  font-size: 16px;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.5;
  color: #ffffff;
}

@media (max-width: 1650px) {
  body {
    font-size: 13px;
  }
}

.container {
  padding-left: 13px;
  padding-right: 13px;
}

.row {
  margin-right: -13px;
  margin-left: -13px;
}

.row > .col,
.row > [class*="col-"] {
  padding-right: 13px;
  padding-left: 13px;
}

@media all and (min-width: 1200px) {
  .container {
    max-width: 1251px;
  }
}

@media all and (min-width: 1650px) {
  .container {
    max-width: 1478px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .container-ld {
    max-width: 85.72%;
  }
  .row {
    margin-right: -16px;
    margin-left: -16px;
  }
  .row > .col,
  .row > [class*="col-"] {
    padding-right: 16px;
    padding-left: 16px;
  }
}

@media (min-width: 1850px) {
  .container.container-head {
    max-width: 1780px;
  }
}

.pad-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.pad-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.pad-8 {
  padding-left: 8px;
  padding-right: 8px;
}

.pad-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.margin-auto {
  margin-left: auto;
  margin-right: auto;
}

.col-mar-0 {
  margin-left: 0px;
  margin-right: 0px;
}

.col-mar-0 [class*="col-"], .col-mar-0 .col {
  padding-left: 0px;
  padding-right: 0px;
}

.col-mar-5 {
  margin-left: -5px;
  margin-right: -5px;
}

.col-mar-5 [class*="col-"], .col-mar-5 .col {
  padding-left: 5px;
  padding-right: 5px;
}

.col-mar-7 {
  margin-left: -0.7rem;
  margin-right: -0.7rem;
}

.col-mar-7 [class*="col-"], .col-mar-7 .col {
  padding-left: 0.7rem;
  padding-right: 0.7rem;
}

.col-mar-8 {
  margin-left: -8px;
  margin-right: -8px;
}

.col-mar-8 [class*="col-"], .col-mar-8 .col {
  padding-left: 8px;
  padding-right: 8px;
}

.col-mar-10 {
  margin-left: -10px;
  margin-right: -10px;
}

.col-mar-10 [class*="col-"], .col-mar-10 .col {
  padding-left: 10px;
  padding-right: 10px;
}

.col-mar-11 {
  margin-left: -1.1rem;
  margin-right: -1.1rem;
}

.col-mar-11 [class*="col-"], .col-mar-11 .col {
  padding-left: 1.1rem;
  padding-right: 1.1rem;
}

@media (min-width: 1200px) {
  .col-mar-33 {
    margin-left: -3.3rem;
    margin-right: -3.3rem;
  }
  .col-mar-33 [class*="col-"], .col-mar-33 .col {
    padding-left: 3.3rem;
    padding-right: 3.3rem;
  }
  .col-mar-60 {
    margin-left: -6rem;
    margin-right: -6rem;
  }
  .col-mar-60 [class*="col-"], .col-mar-60 .col {
    padding-left: 6rem;
    padding-right: 6rem;
  }
  .col-mar-20 {
    margin-left: -2rem;
    margin-right: -2rem;
  }
  .col-mar-20 [class*="col-"], .col-mar-20 .col {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (max-width: 575px) {
  .col-mar-20 {
    margin-left: -7.5px;
    margin-right: -7.5px;
  }
  .col-mar-20 [class*="col-"], .col-mar-20 .col {
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
}

.fx-mid {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ifx-top {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.ifx-bot {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.ifx-mid {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.relative {
  position: relative;
}

.static {
  position: static;
}

.absolute {
  position: absolute;
}

.clearfix:before, .clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.ic {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.smooth {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

@media all and (max-width: 991px) {
  .md-pad-7 {
    margin: 0 -7px;
  }
  .md-pad-7 > [class^="col-"] {
    padding: 0 7px;
  }
  .md-pad-5 {
    margin: 0 -5px;
  }
  .md-pad-5 > [class^="col-"] {
    padding: 0 5px;
  }
}

@media all and (max-width: 767px) {
  .sm-pad-7 {
    margin: 0 -7px;
  }
  .sm-pad-7 > [class^="col-"] {
    padding: 0 7px;
  }
  .sm-pad-5 {
    margin: 0 -5px;
  }
  .sm-pad-5 > [class^="col-"] {
    padding: 0 5px;
  }
  .tb-responsive {
    display: block;
  }
  .tb-responsive tbody, .tb-responsive tfoot, .tb-responsive tr, .tb-responsive th, .tb-responsive td {
    display: block;
  }
  .tb-responsive thead {
    display: none;
  }
  .tb-responsive tr:nth-child(2n) {
    background: #f5f5f5;
  }
  .tb-responsive td {
    position: relative;
    padding: 10px 10px 10px 50%;
  }
  .tb-responsive td:before {
    content: attr(data-title);
    position: absolute;
    left: 0;
    width: 50%;
    padding-right: 15px;
  }
}

@media all and (max-width: 575px) {
  .xs-pad-7 {
    margin: 0 -7px;
  }
  .xs-pad-7 > [class^="col-"] {
    padding: 0 7px;
  }
  .xs-pad-5 {
    margin: 0 -5px;
  }
  .xs-pad-5 > [class^="col-"] {
    padding: 0 5px;
  }
}

.slick-list {
  margin: 0 -15px;
}

.slick-list .slick-slide {
  margin: 0 15px;
}

.slick-arrow {
  cursor: pointer;
  z-index: 1;
  text-align: center;
  position: absolute;
}

.slick-dots {
  text-align: center;
}

.slick-dots button {
  display: none;
}

.slick-dots li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border: solid 2px #666;
  border-radius: 50%;
  cursor: pointer;
}

.slick-dots li.slick-active {
  background: #666;
}

.i-select {
  position: relative;
}

.i-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-indent: 1px;
  text-overflow: '';
  width: 100%;
}

.s-content {
  word-break: break-word;
}

.s-content a[href] {
  color: #007bff;
}

.s-content a[href]:hover {
  text-decoration: underline;
}

.s-content a, .s-content a:hover, .s-content a:focus, .s-content a:active {
  text-decoration: underline;
}

.s-content ol {
  list-style: decimal;
  margin-left: 15px;
  margin-bottom: 10px;
}

.s-content ul {
  list-style: initial;
  margin-left: 15px;
  margin-bottom: 10px;
}

.s-content li {
  list-style: inherit;
  margin-bottom: 5px;
}

.s-content p {
  margin-bottom: 10px;
}

.s-content img {
  max-width: 100%;
  height: auto !important;
  margin: 10px auto;
  object_fit: initial;
}

.s-content .alignleft, .s-content img.alignleft {
  margin-right: 1.5rem;
  display: inline;
  float: left;
}

.s-content .alignright, .s-content img.alignright {
  margin-left: 1.5rem;
  display: inline;
  float: right;
}

.s-content .aligncenter, .s-content img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}

.s-content blockquote.left {
  margin-right: 20px;
  text-align: right;
  margin-left: 0;
  width: 33%;
  float: left;
}

.s-content blockquote.right {
  margin-left: 20px;
  text-align: left;
  margin-right: 0;
  width: 33%;
  float: right;
}

.s-content table, .s-content iframe {
  max-width: 100%;
  max-width: calc(100vw - 30px);
  margin: auto;
}

.s-content iframe {
  display: block;
}

.s-content h1, .s-content h2, .s-content h3, .s-content h4, .s-content h5, .s-content h6 {
  font-weight: bold;
}

.s-content h1 {
  font-size: 2rem;
  margin-top: 0.67rem;
  margin-bottom: 0.67rem;
}

.s-content h2 {
  font-size: 1.5rem;
  margin-top: 0.83rem;
  margin-bottom: 0.83rem;
}

.s-content h3 {
  font-size: 1.17rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.s-content h4 {
  font-size: 1rem;
  margin-top: 1.33rem;
  margin-bottom: 1.33rem;
}

.s-content h5 {
  font-size: .83rem;
  margin-top: 1.67rem;
  margin-bottom: 1.67rem;
}

.s-content h6 {
  font-size: .67rem;
  margin-top: 2.33rem;
  margin-bottom: 2.33rem;
}

.hc-upload {
  position: relative;
}

.hc-upload .hc-del {
  position: absolute;
  width: 24px;
  height: 24px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 21px;
  line-height: 1;
  text-align: center;
  border-radius: 50%;
  top: -12px;
  right: -12px;
  cursor: pointer;
}

.hc-upload .hc-del:hover {
  background: rgba(0, 0, 0, 0.85);
}

header {
  padding: 20px 0 !important;
  position: fixed;
  z-index: 98;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #020207;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

header .logo.black {
  display: none;
}

header .logo {
  max-width: 243px;
}

header .logo img {
  /*filter: brightness(0) invert(1);*/
}

header.scroll {
  background-color: #020207;
  padding: 10px 0;
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
}

header.scroll .d-nav > ul > li > ul {
  top: calc(100% + 10px);
}

header.scroll .search-header .box-search {
  top: calc(100% + 1.4rem);
}

header.page {
  background-color: #020207;
  padding: 13px 0;
}

header.page .logo img {
  -webkit-filter: brightness(1) invert(0);
          filter: brightness(1) invert(0);
}

header.page.scroll {
  padding: 10px 0;
}

.logo img {
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.wrap-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.right-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.control-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.control-header .item {
  margin: 0 1.6rem;
  position: relative;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.control-header .item:last-child {
  margin-right: 0;
}

.search-header {
  position: initial !important;
}

.search-header .box-search {
  position: absolute;
  width: 43.4rem;
  right: 0;
  z-index: 2;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.3);
  display: none;
  top: calc(100% + 1.6rem);
  background: #fff;
  padding: 0;
  /* &:before{
	        content: '';
	        position: absolute;
	        bottom: 100%;
	        width: 0;
	        height: 0;
	        right: 6.6rem;
	        border-left: 1rem solid transparent;
	        border-right: 1rem solid transparent;
	        border-bottom: 1rem solid #fff;
	    }*/
}

.search-header .box-search:before {
  content: '';
  position: absolute;
  bottom: calc(100% - 1rem);
  width: 1.6rem;
  height: 1.6rem;
  right: 6.6rem;
  background-color: #fff;
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.search-header .search-fr {
  position: relative;
  z-index: 1;
}

.search-header .search-fr input {
  background-color: #fff;
  width: 100%;
  height: 5rem;
  color: #020207;
  border: none;
  padding-right: 5rem;
  padding-left: 2rem;
  font-size: 1.7rem;
  font-weight: 500;
  letter-spacing: 0.02em;
  border-radius: 4px;
}

.search-header .search-fr input::-webkit-input-placeholder {
  color: #ffffff;
}

.search-header .search-fr input:-ms-input-placeholder {
  color: #ffffff;
}

.search-header .search-fr input::-ms-input-placeholder {
  color: #262525;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.search-header .search-fr input::placeholder {
  color: #262525;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.search-header .search-fr button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 1.5rem;
  color: #ea1c2d;
  font-size: 2.2rem;
}

.form-search-head {
  position: relative;
  max-width: 60%;
  margin: 0 auto;
}

.form-search-head .form-control {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-left: 0;
  padding-right: 0;
  height: 50px;
}

.form-search-head .form-control::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
}

.form-search-head .form-control:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
}

.form-search-head .form-control::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
}

.form-search-head .form-control::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
}

.form-search-head .btn-search {
  position: absolute;
  top: 6px;
  right: 0;
  font-size: 20px;
  color: #fff;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.form-search-head .btn-search:hover {
  color: #ea1c2d;
}

@media (max-width: 767px) {
  .form-search-head {
    max-width: 100%;
  }
}

.lang-header {
  position: relative;
  z-index: 2;
  text-transform: uppercase;
}

.lang-header .label {
  cursor: pointer;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

@media (max-width: 1550px) {
  .lang-header .label {
    width: 27px;
    height: 27px;
  }
}

.lang-header .label img {
  border-radius: 50%;
}

.lang-header ul {
  display: none;
  position: absolute;
  border-radius: 4px;
  left: 0;
  width: auto;
  top: calc(100% + 10px);
}

.lang-header ul li {
  display: block;
  margin-bottom: 5px;
}

.lang-header ul li a {
  display: inline-block;
  width: 32px;
  height: 32px;
}

@media (max-width: 1650px) {
  .lang-header ul li a {
    width: 28px;
    height: 28px;
  }
}

.lang-header ul li a img {
  border-radius: 50%;
}

.d-nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.d-nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.d-nav > ul > li {
  display: inline-block;
  margin: 0 30px;
}

.d-nav > ul > li.active > a {
  color: #ea1c2d;
}

.d-nav > ul > li > a {
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
}

.d-nav > ul > li > a:after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  top: 100%;
  height: 40px;
}

.d-nav > ul > li > a:hover {
  color: #ea1c2d;
}

.d-nav > ul > li:hover > a {
  color: #ea1c2d;
}

.d-nav > ul > li:hover > ul {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.d-nav > ul > li > ul {
  position: absolute;
  min-width: 20rem;
  background-color: #020207;
  padding: 1rem 0;
  border-radius: 0 0 0 2rem;
  z-index: 1;
  top: calc(100% + 13px);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

.d-nav > ul > li > ul > li {
  position: relative;
}

.d-nav > ul > li > ul > li > a {
  font-size: 1.6rem;
  display: block;
  padding: 1rem 1.5rem;
  position: relative;
  white-space: nowrap;
}

.d-nav > ul > li > ul > li > a:before {
  content: '';
  position: absolute;
  left: 1.5rem;
  width: 0;
  height: 1px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #ea1c2d;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.d-nav > ul > li > ul > li.active > a {
  color: #ea1c2d;
}

.d-nav > ul > li > ul > li:hover > ul {
  visibility: visible;
  opacity: 1;
  top: 0;
}

.d-nav > ul > li > ul > li:hover > a {
  color: #ea1c2d;
}

.d-nav > ul > li > ul > li > ul {
  position: absolute;
  min-width: 20rem;
  background-color: #020207;
  padding: 1rem 0;
  border-radius: 0 0 1rem 1rem;
  z-index: 1;
  top: 2rem;
  opacity: 0;
  visibility: hidden;
  left: 100%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.d-nav > ul > li > ul > li > ul > li > a {
  font-size: 1.6rem;
  display: block;
  padding: 1rem 1.5rem;
  position: relative;
  white-space: nowrap;
}

.d-nav > ul > li > ul > li > ul > li > a:before {
  content: '';
  position: absolute;
  left: 1.5rem;
  width: 0;
  height: 1px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #ea1c2d;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.d-nav > ul > li > ul > li > ul > li.active > a {
  color: #ea1c2d;
}

.d-nav > ul > li > ul > li > ul > li:hover > a {
  color: #ea1c2d;
}

.icon-menu {
  display: none;
}

@media (max-width: 1650px) {
  header {
    padding: 16px 0;
  }
  .logo {
    max-width: 212px;
  }
  .d-nav > ul > li {
    margin: 0 25px;
  }
}

@media (max-width: 1199px) {
  header {
    padding: 14px 0;
  }
  header.scroll {
    padding: 10px 0;
  }
  header.scroll .logo-abs img {
    max-height: 26px;
  }
  .logo-abs img {
    max-height: 30px;
  }
  .logo {
    max-width: 180px;
  }
  .d-nav {
    display: none;
  }
  .icon-menu {
    display: block;
    width: 24px;
    position: relative;
    margin-left: 15px;
  }
  .icon-menu span {
    display: block;
    background-color: #ea1c2d;
    width: 100%;
    margin: 1.5px 0;
    border-radius: 3px;
    height: 2px;
    float: right;
  }
  .icon-menu span:first-child {
    margin-top: 0;
  }
  .icon-menu span:nth-child(2n+1) {
    width: 18px;
  }
  .icon-menu span:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .logo-abs {
    width: 33%;
    padding: 10px;
  }
}

@media (max-width: 575px) {
  .logo-mb img {
    max-width: 50px;
  }
  .search-header .box-search {
    width: calc(100vw - 26px);
    right: -39px;
  }
  .search-header .box-search:before {
    right: 11.3rem;
  }
  .control-header .item {
    margin: 0 10px;
  }
}
/*# sourceMappingURL=header.css.map */