html {
  font-size: 62.5%;
}

@media (max-width: 1650px) {
  html {
    font-size: 51%;
  }
}

body {
  font-size: 16px;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.5;
  color: #ffffff;
}

@media (max-width: 1650px) {
  body {
    font-size: 13px;
  }
}

object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img,
ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
}

b, strong, th {
  font-weight: bold;
}

i, em {
  font-style: italic;
}

sub, sup {
  font-size: 75%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 20px 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
  outline: none;
}

ol, ul, li {
  padding: 0;
  list-style: none;
  margin: 0;
}

label {
  font-weight: normal;
}

input[type="text"], input[type="email"], input[type="password"] {
  padding-left: 12px;
  padding-right: 12px;
}

select {
  padding-left: 8px;
  cursor: pointer;
}

input[type="number"] {
  padding-left: 5px;
}

textarea {
  padding: 8px 12px 5px 12px;
}

input, textarea, select, button, a, button:hover, button:active, button:focus {
  outline: none;
}

button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

img {
  max-width: 100%;
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
}

html {
  font-size: 62.5%;
}

@media (max-width: 1650px) {
  html {
    font-size: 51%;
  }
}

body {
  font-size: 16px;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.5;
  color: #ffffff;
}

@media (max-width: 1650px) {
  body {
    font-size: 13px;
  }
}

.container {
  padding-left: 13px;
  padding-right: 13px;
}

.row {
  margin-right: -13px;
  margin-left: -13px;
}

.row > .col,
.row > [class*="col-"] {
  padding-right: 13px;
  padding-left: 13px;
}

@media all and (min-width: 1200px) {
  .container {
    max-width: 1251px;
  }
}

@media all and (min-width: 1650px) {
  .container {
    max-width: 1478px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .container-ld {
    max-width: 85.72%;
  }
  .row {
    margin-right: -16px;
    margin-left: -16px;
  }
  .row > .col,
  .row > [class*="col-"] {
    padding-right: 16px;
    padding-left: 16px;
  }
}

@media (min-width: 1850px) {
  .container.container-head {
    max-width: 1780px;
  }
}

.pad-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.pad-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.pad-8 {
  padding-left: 8px;
  padding-right: 8px;
}

.pad-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.margin-auto {
  margin-left: auto;
  margin-right: auto;
}

.col-mar-0 {
  margin-left: 0px;
  margin-right: 0px;
}

.col-mar-0 [class*="col-"], .col-mar-0 .col {
  padding-left: 0px;
  padding-right: 0px;
}

.col-mar-5 {
  margin-left: -5px;
  margin-right: -5px;
}

.col-mar-5 [class*="col-"], .col-mar-5 .col {
  padding-left: 5px;
  padding-right: 5px;
}

.col-mar-7 {
  margin-left: -0.7rem;
  margin-right: -0.7rem;
}

.col-mar-7 [class*="col-"], .col-mar-7 .col {
  padding-left: 0.7rem;
  padding-right: 0.7rem;
}

.col-mar-8 {
  margin-left: -8px;
  margin-right: -8px;
}

.col-mar-8 [class*="col-"], .col-mar-8 .col {
  padding-left: 8px;
  padding-right: 8px;
}

.col-mar-10 {
  margin-left: -10px;
  margin-right: -10px;
}

.col-mar-10 [class*="col-"], .col-mar-10 .col {
  padding-left: 10px;
  padding-right: 10px;
}

.col-mar-11 {
  margin-left: -1.1rem;
  margin-right: -1.1rem;
}

.col-mar-11 [class*="col-"], .col-mar-11 .col {
  padding-left: 1.1rem;
  padding-right: 1.1rem;
}

@media (min-width: 1200px) {
  .col-mar-33 {
    margin-left: -3.3rem;
    margin-right: -3.3rem;
  }
  .col-mar-33 [class*="col-"], .col-mar-33 .col {
    padding-left: 3.3rem;
    padding-right: 3.3rem;
  }
  .col-mar-60 {
    margin-left: -6rem;
    margin-right: -6rem;
  }
  .col-mar-60 [class*="col-"], .col-mar-60 .col {
    padding-left: 6rem;
    padding-right: 6rem;
  }
  .col-mar-20 {
    margin-left: -2rem;
    margin-right: -2rem;
  }
  .col-mar-20 [class*="col-"], .col-mar-20 .col {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (max-width: 575px) {
  .col-mar-20 {
    margin-left: -7.5px;
    margin-right: -7.5px;
  }
  .col-mar-20 [class*="col-"], .col-mar-20 .col {
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
}

.fx-mid {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ifx-top {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.ifx-bot {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.ifx-mid {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.relative {
  position: relative;
}

.static {
  position: static;
}

.absolute {
  position: absolute;
}

.clearfix:before, .clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.ic {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.smooth {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

@media all and (max-width: 991px) {
  .md-pad-7 {
    margin: 0 -7px;
  }
  .md-pad-7 > [class^="col-"] {
    padding: 0 7px;
  }
  .md-pad-5 {
    margin: 0 -5px;
  }
  .md-pad-5 > [class^="col-"] {
    padding: 0 5px;
  }
}

@media all and (max-width: 767px) {
  .sm-pad-7 {
    margin: 0 -7px;
  }
  .sm-pad-7 > [class^="col-"] {
    padding: 0 7px;
  }
  .sm-pad-5 {
    margin: 0 -5px;
  }
  .sm-pad-5 > [class^="col-"] {
    padding: 0 5px;
  }
  .tb-responsive {
    display: block;
  }
  .tb-responsive tbody, .tb-responsive tfoot, .tb-responsive tr, .tb-responsive th, .tb-responsive td {
    display: block;
  }
  .tb-responsive thead {
    display: none;
  }
  .tb-responsive tr:nth-child(2n) {
    background: #f5f5f5;
  }
  .tb-responsive td {
    position: relative;
    padding: 10px 10px 10px 50%;
  }
  .tb-responsive td:before {
    content: attr(data-title);
    position: absolute;
    left: 0;
    width: 50%;
    padding-right: 15px;
  }
}

@media all and (max-width: 575px) {
  .xs-pad-7 {
    margin: 0 -7px;
  }
  .xs-pad-7 > [class^="col-"] {
    padding: 0 7px;
  }
  .xs-pad-5 {
    margin: 0 -5px;
  }
  .xs-pad-5 > [class^="col-"] {
    padding: 0 5px;
  }
}

.slick-list {
  margin: 0 -15px;
}

.slick-list .slick-slide {
  margin: 0 15px;
}

.slick-arrow {
  cursor: pointer;
  z-index: 1;
  text-align: center;
  position: absolute;
}

.slick-dots {
  text-align: center;
}

.slick-dots button {
  display: none;
}

.slick-dots li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border: solid 2px #666;
  border-radius: 50%;
  cursor: pointer;
}

.slick-dots li.slick-active {
  background: #666;
}

.i-select {
  position: relative;
}

.i-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-indent: 1px;
  text-overflow: '';
  width: 100%;
}

.s-content {
  word-break: break-word;
}

.s-content a[href] {
  color: #007bff;
}

.s-content a[href]:hover {
  text-decoration: underline;
}

.s-content a, .s-content a:hover, .s-content a:focus, .s-content a:active {
  text-decoration: underline;
}

.s-content ol {
  list-style: decimal;
  margin-left: 15px;
  margin-bottom: 10px;
}

.s-content ul {
  list-style: initial;
  margin-left: 15px;
  margin-bottom: 10px;
}

.s-content li {
  list-style: inherit;
  margin-bottom: 5px;
}

.s-content p {
  margin-bottom: 10px;
}

.s-content img {
  max-width: 100%;
  height: auto !important;
  margin: 10px auto;
  object_fit: initial;
}

.s-content .alignleft, .s-content img.alignleft {
  margin-right: 1.5rem;
  display: inline;
  float: left;
}

.s-content .alignright, .s-content img.alignright {
  margin-left: 1.5rem;
  display: inline;
  float: right;
}

.s-content .aligncenter, .s-content img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}

.s-content blockquote.left {
  margin-right: 20px;
  text-align: right;
  margin-left: 0;
  width: 33%;
  float: left;
}

.s-content blockquote.right {
  margin-left: 20px;
  text-align: left;
  margin-right: 0;
  width: 33%;
  float: right;
}

.s-content table, .s-content iframe {
  max-width: 100%;
  max-width: calc(100vw - 30px);
  margin: auto;
}

.s-content iframe {
  display: block;
}

.s-content h1, .s-content h2, .s-content h3, .s-content h4, .s-content h5, .s-content h6 {
  font-weight: bold;
}

.s-content h1 {
  font-size: 2rem;
  margin-top: 0.67rem;
  margin-bottom: 0.67rem;
}

.s-content h2 {
  font-size: 1.5rem;
  margin-top: 0.83rem;
  margin-bottom: 0.83rem;
}

.s-content h3 {
  font-size: 1.17rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.s-content h4 {
  font-size: 1rem;
  margin-top: 1.33rem;
  margin-bottom: 1.33rem;
}

.s-content h5 {
  font-size: .83rem;
  margin-top: 1.67rem;
  margin-bottom: 1.67rem;
}

.s-content h6 {
  font-size: .67rem;
  margin-top: 2.33rem;
  margin-bottom: 2.33rem;
}

.hc-upload {
  position: relative;
}

.hc-upload .hc-del {
  position: absolute;
  width: 24px;
  height: 24px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 21px;
  line-height: 1;
  text-align: center;
  border-radius: 50%;
  top: -12px;
  right: -12px;
  cursor: pointer;
}

.hc-upload .hc-del:hover {
  background: rgba(0, 0, 0, 0.85);
}

.light-mode {
  color: #020207;
  background-color: #fff;
  /*.block-news-related{
		background: url('../images/pattern2.png') no-repeat center;
		background-size: auto 100%;
		&.product{
			background: unset;
		}
	}*/
}

.light-mode .aps-loading {
  background: #fff;
}

.light-mode .aps-loading .ct span {
  background-color: #000;
}

.light-mode .contact-form {
  background: #fff;
}

.light-mode .contact-form .btn-close {
  background: rgba(0, 0, 0, 0.2);
}

.light-mode .contact-form .btn-close:hover {
  background: rgba(0, 0, 0, 0.3);
}

.light-mode .form-contact {
  color: #020207;
}

.light-mode .form-contact .form-group .form-control, .light-mode .form-contact .file-custom {
  background-color: rgba(0, 0, 0, 0.2) !important;
  color: #495057 !important;
}

.light-mode .form-contact .form-group .form-control::-webkit-input-placeholder, .light-mode .form-contact .file-custom::-webkit-input-placeholder {
  color: #495057 !important;
}

.light-mode .form-contact .form-group .form-control:-ms-input-placeholder, .light-mode .form-contact .file-custom:-ms-input-placeholder {
  color: #495057 !important;
}

.light-mode .form-contact .form-group .form-control::-ms-input-placeholder, .light-mode .form-contact .file-custom::-ms-input-placeholder {
  color: #495057 !important;
}

.light-mode .form-contact .form-group .form-control::placeholder, .light-mode .form-contact .file-custom::placeholder {
  color: #495057 !important;
}

.light-mode header.scroll {
  background-color: #fff;
}

.light-mode header.scroll .wrap-header {
  color: #020207;
}

.light-mode header.scroll .logo img {
  -webkit-filter: none;
          filter: none;
}

.light-mode header.scroll .logo {
  display: none;
}

.light-mode header.scroll .logo.black {
  display: block;
}

.light-mode .home-banner {
  color: #fff;
}

.light-mode .fancybox-morphing .fancybox-bg {
  background: #fff;
}

.light-mode .form-search-head .form-control {
  border-bottom-color: #020207;
  color: #020207;
}

.light-mode .form-search-head .form-control::-webkit-input-placeholder {
  color: rgba(2, 2, 7, 0.5);
}

.light-mode .form-search-head .form-control:-ms-input-placeholder {
  color: rgba(2, 2, 7, 0.5);
}

.light-mode .form-search-head .form-control::-ms-input-placeholder {
  color: rgba(2, 2, 7, 0.5);
}

.light-mode .form-search-head .form-control::placeholder {
  color: rgba(2, 2, 7, 0.5);
}

.light-mode .form-search-head .btn-search {
  color: #020207;
}

.light-mode .morphing-btn-clone {
  background: #fff;
}

.light-mode .d-nav > ul > li > ul {
  background-color: #fff;
  -webkit-box-shadow: 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.2);
}

.light-mode .d-nav > ul > li > ul:before {
  background-color: #fff;
}

.light-mode .d-nav > ul > li > .sub-normal > li:hover a {
  color: #ea1c2d;
}

.light-mode .d-nav > ul > li > .sub-normal > li a {
  color: #020207;
}

.light-mode .d-nav > ul > li > .submenu > li.active > a {
  color: #ea1c2d;
}

.light-mode .d-nav > ul > li > .submenu > li > a {
  color: #020207;
}

.light-mode .d-nav > ul > li > .submenu > li > ul > li:hover a {
  color: #ea1c2d;
}

.light-mode .d-nav > ul > li > .submenu > li > ul > li > a {
  color: #020207;
}

.light-mode .d-nav > ul > li > ul > li.active > a {
  color: #ea1c2d;
}

.light-mode .d-nav > ul > li > ul > li > ul {
  background-color: #fff;
  -webkit-box-shadow: 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.2);
}

.light-mode .m-nav {
  background-color: #fff;
}

.light-mode .m-nav a {
  color: #020207;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.light-mode .m-nav .acd-drop {
  background: rgba(0, 0, 0, 0.1);
  color: #020207;
}

.light-mode .m-nav .nav-ct .logo img {
  -webkit-filter: brightness(1) invert(0);
          filter: brightness(1) invert(0);
}

.light-mode .m-nav .m-nav-close {
  color: #020207;
}

.light-mode .m-nav .nav-ct .logo {
  display: none;
}

.light-mode .m-nav .nav-ct .logo.black {
  display: block;
}

.light-mode .cas-home .img {
  position: relative;
}

.light-mode .cas-home .img:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.light-mode .cas-home .ct .dc {
  background-color: #fff;
}

.light-mode .wrap-new-banner .new-banner::before {
  background: rgba(255, 255, 255, 0.13);
}

.light-mode .cas-new-banner .desc {
  color: #fff !important;
}

.light-mode .page-resources .sidebar-resources {
  background-color: #f2f2f2;
}

.light-mode .page-resources .nav-tabs::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.15);
}

.light-mode .head-pri .title {
  color: #020207;
}

.light-mode .view-pri .title {
  border: 1px solid #ea1c2d;
}

.light-mode .view-detail .btn-title:hover {
  color: #ea1c2d;
}

.light-mode .social-banner li i {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.light-mode .home-blog {
  background: #fff;
}

.light-mode .home-about:after {
  top: 10%;
  background: transparent url(../images/Wave-light.png) no-repeat center top;
  opacity: 1;
}

.light-mode .item-number .desc {
  color: #ea1c2d;
}

.light-mode .item-number .title {
  color: rgba(2, 2, 7, 0.8);
}

.light-mode .item-number .img img {
  -webkit-filter: brightness(5%);
          filter: brightness(5%);
}

.light-mode .item-number .top .number {
  color: #ea1c2d;
}

.light-mode .home-solutions,
.light-mode .home-partner {
  padding-bottom: 45px;
}

.light-mode .home-partner {
  background: #f2f2f2;
}

.light-mode .cas-partner .slick-list {
  padding: 1rem 0 1.4rem 0;
}

.light-mode .cas-partner .item-partner {
  background: #fff;
  -webkit-box-shadow: 0 0.4rem 1.4rem 0 #c2c2c2;
          box-shadow: 0 0.4rem 1.4rem 0 #c2c2c2;
}

.light-mode .item-partner img {
  -webkit-filter: brightness(1) invert(0);
          filter: brightness(1) invert(0);
}

.light-mode .item-partner.v2 .text {
  color: #020207;
}

.light-mode .item-news-home .ct {
  color: #fff;
}

.light-mode footer {
  background: url(../images/bg-ft-light.jpg) no-repeat center;
  background-size: 100% 100%;
}

@media (max-width: 991px) {
  .light-mode footer {
    background-size: cover !important;
  }
}

.light-mode .head-footer {
  color: #020207;
}

.light-mode .ft-item {
  color: #020207;
}

.light-mode .ft-item .title {
  color: #020207;
}

.light-mode .copyright {
  color: #111;
}

.light-mode .btn-about {
  color: #020207;
}

.light-mode .btn-about rect {
  stroke: #020207;
}

.light-mode header.page {
  background-color: #fff;
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
}

.light-mode header.page .wrap-header {
  color: #020207;
}

.light-mode header.page .logo {
  display: none;
}

.light-mode header.page .logo.black {
  display: block;
}

.light-mode #price-solution .striped tr:nth-child(2n+1) td {
  background-color: #e4e4e4;
}

.light-mode .banner-page .ct .title, .light-mode .banner-page .ct .breadcrumb-item {
  color: #fff;
}

@media (min-width: 1200px) {
  .light-mode .list-number,
  .light-mode .page-resources,
  .light-mode .page-faq,
  .light-mode .member-group {
    background: url("../images/pattern2.png") no-repeat center;
    background-size: 100% auto;
  }
}

.light-mode .home-about {
  position: relative;
}

@media (min-width: 1200px) {
  .light-mode .home-about:before {
    content: '';
    position: absolute;
    top: 5%;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/pattern2.png") no-repeat center top;
    background-size: cover;
    opacity: 0.7;
    z-index: -1;
  }
}

.light-mode .page-prize {
  background-color: #f2f2f2;
  padding-bottom: 6rem;
}

@media (min-width: 1200px) {
  .light-mode .page-prize {
    background: #f2f2f2 url("../images/pattern2.png") no-repeat center top 10%;
    background-size: 100% auto;
  }
}

.light-mode .contact-info {
  background: url("../images/pattern3.png") no-repeat right bottom;
  background-size: auto 100%;
}

.light-mode .page-imprint {
  position: relative;
}

.light-mode .page-imprint:before {
  top: 20%;
  background: url("../images/pattern2.png") no-repeat center;
  opacity: 0.7;
}

.light-mode .direct-link, .light-mode .home-news {
  background: url("../images/pattern3.png") no-repeat right bottom;
  background-size: auto 100%;
}

.light-mode .page-404 {
  background: url("../images/pattern3.png") no-repeat right bottom;
  background-size: auto 50%;
}

.light-mode .banner-page.solution {
  background: url("../images/pattern5.jpg") no-repeat center;
  background-size: cover;
  margin-bottom: 5rem;
}

.light-mode .banner-page.solution .ct .title, .light-mode .banner-page.solution .ct .breadcrumb-item {
  color: #020207;
}

.light-mode .banner-page.solution .ct .desc {
  color: #020207;
}

.light-mode .page-news, .light-mode .page-static, .light-mode .page-news-detail {
  background: url("../images/pattern1.jpg") no-repeat center;
  background-size: cover;
}

.light-mode .page-services {
  background: url("../images/pattern1.jpg") no-repeat center;
  background-size: cover;
  /*margin-bottom: 4rem;*/
}

.light-mode .intro-solution {
  margin-bottom: 0;
}

.light-mode .detail-solution {
  padding-top: 5rem;
  margin-bottom: 5rem;
}

.light-mode .detail-solution:before {
  top: 0;
  background: url(../images/pattern9.png) no-repeat left top;
  background-size: 40% auto;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  opacity: 1;
}

.light-mode .detail-solution:after {
  position: absolute;
  content: "";
  bottom: -20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100vw;
  height: 100%;
  background: url(../images/pattern10.png) no-repeat right bottom;
  background-size: 70% auto;
  z-index: -1;
}

.light-mode .price-solution {
  position: relative;
}

.light-mode .price-solution:before {
  position: absolute;
  content: "";
  top: -20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100vw;
  height: 100%;
  background: url(../images/pattern8.jpg) no-repeat top left;
  background-size: 16% auto;
  z-index: -1;
}

.light-mode .banner-page.solution .ct .breadcrumb-item + .breadcrumb-item:before {
  color: #020207;
}

.light-mode .ab-intro .desc {
  color: #020207;
}

.light-mode .ab-intro .head-about .title {
  color: #020207;
}

.light-mode .cas-number .item .ct strong {
  -webkit-text-stroke: 1px rgba(2, 2, 7, 0.3);
}

.light-mode .cas-number .item .ct .num-abs .num {
  color: #ea1c2d;
}

.light-mode .staff-intro {
  background-color: #f2f2f2;
}

.light-mode .staff-intro .info-staff .item .count {
  color: #ea1c2d;
}

.light-mode .staff-intro .info-staff .item .info {
  color: #020207;
}

.light-mode .staff-intro .left .desc {
  color: #020207;
}

.light-mode .value-intro .desc {
  color: #020207;
}

.light-mode .value-intro .value-trademark strong {
  -webkit-text-stroke: 2px #ea1c2d;
}

.light-mode .value-intro .value-trademark .note {
  color: rgba(2, 2, 7, 0.6);
}

.light-mode .support-intro .desc {
  color: rgba(2, 2, 7, 0.6);
}

.light-mode .support-intro .item-contact .ct {
  color: rgba(2, 2, 7, 0.8);
}

.light-mode .support-intro .item-contact .ct b {
  color: rgba(2, 2, 7, 0.8);
}

.light-mode .direct-link .item {
  background-color: #fff;
  -webkit-box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.2);
}

.light-mode .item-member-group {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.light-mode .item-member-group:hover {
  -webkit-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.25);
}

.light-mode .item-location .ic {
  -webkit-box-shadow: 0 0 4rem 1.5rem rgba(234, 28, 45, 0.2);
          box-shadow: 0 0 4rem 1.5rem rgba(234, 28, 45, 0.2);
}

.light-mode .tabs-prize > .nav-tabs .nav-link {
  color: rgba(2, 2, 7, 0.7);
}

.light-mode .tabs-prize > .nav-tabs .nav-link.active {
  color: #020207;
}

.light-mode .tabs-prize-world .nav-tabs .nav-link:before {
  background-image: -webkit-gradient(linear, left top, right top, from(#020207), to(rgba(2, 2, 7, 0)));
  background-image: linear-gradient(to right, #020207, rgba(2, 2, 7, 0));
}

.light-mode .item-prize-primary .ct .desc {
  color: rgba(2, 2, 7, 0.8);
}

.light-mode .item-prize .desc {
  color: #020207;
}

.light-mode .cas-imprint-content .item .ct .year {
  color: #ea1c2d;
}

.light-mode .cas-imprint-img .item:after {
  background-color: #ea1c2d;
}

.light-mode .cas-imprint-img .item .title {
  color: #ea1c2d;
}

.light-mode .cas-imprint-img .cas-arrow {
  border: 1px solid rgba(2, 2, 7, 0.6);
}

.light-mode .cas-imprint-img .cas-arrow:hover {
  border: 1px solid #ea1c2d;
  color: #fff;
}

.light-mode .cas-imprint-img:before {
  background-color: rgba(154, 154, 156, 0.5);
}

.light-mode .tabs-list-solution .nav-tabs .nav-link {
  color: #020207;
}

.light-mode .tabs-list-solution .nav-tabs .nav-link:hover {
  color: #ea1c2d;
}

.light-mode .tabs-list-solution .nav-tabs .nav-link.active {
  color: #ea1c2d;
}

.light-mode .tabs-list-solution .nav-tabs .nav-link.active:before {
  background-color: #ea1c2d;
}

.light-mode .item-product-page .ct .desc {
  color: rgba(2, 2, 7, 0.8);
}

.light-mode .cas-related .slick-arrow {
  border-color: #020207;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.light-mode .cas-related .slick-arrow:hover {
  color: #fff;
  border-color: #ea1c2d;
}

.light-mode .item-news-text .time .month {
  color: rgba(2, 2, 7, 0.8);
}

.light-mode .page-faq .sb-faq {
  background-color: #f2f2f2;
}

.light-mode .list-cate-sb .card-link.collapsed {
  background-color: #f2f2f2;
  color: #020207;
}

.light-mode .list-cate-sb .card-link.collapsed:after {
  color: #020207;
}

.light-mode .list-cate-sb .card-link.collapsed:hover {
  color: #ea1c2d;
}

.light-mode .list-cate-sb .card-link.collapsed:hover:after {
  color: #ea1c2d;
}

.light-mode .list-cate-sb .card {
  background-color: #e3e3e3;
}

.light-mode .list-cate-sb .card-body ul li a {
  color: #020207;
}

.light-mode .list-cate-sb .card-body ul li a:hover {
  color: #ea1c2d;
}

.light-mode .page-faq .search-faq .form-control {
  color: #020207;
}

.light-mode .page-faq .search-faq .form-control::-webkit-input-placeholder {
  color: rgba(2, 2, 7, 0.8);
}

.light-mode .page-faq .search-faq .form-control:-ms-input-placeholder {
  color: rgba(2, 2, 7, 0.8);
}

.light-mode .page-faq .search-faq .form-control::-ms-input-placeholder {
  color: rgba(2, 2, 7, 0.8);
}

.light-mode .page-faq .search-faq .form-control::placeholder {
  color: rgba(2, 2, 7, 0.8);
}

.light-mode .page-faq .search-faq .form-control:focus {
  border-color: #ea1c2d;
}

.light-mode .page-faq .search-faq button {
  color: #020207;
}

.light-mode .page-faq .search-faq button:hover {
  color: #ea1c2d;
}

.light-mode .item-file {
  border-color: rgba(2, 2, 7, 0.3);
}

.light-mode .item-file:before {
  background-color: #020207;
}

.light-mode .item-file .ct .title a {
  color: #020207;
}

.light-mode .item-file .ct .title a:hover {
  color: #ea1c2d;
}

.light-mode .list-faq .card {
  border-color: rgba(2, 2, 7, 0.3);
}

.light-mode .list-faq .card-link.collapsed {
  color: #020207;
}

.light-mode .list-faq .card-link:after {
  color: rgba(2, 2, 7, 0.8);
}

.light-mode .list-faq .card-link:hover {
  color: #ea1c2d;
}

.light-mode .list-faq .show .card-body {
  color: #020207;
}

.light-mode .item-policy .number {
  -webkit-text-stroke: 1px rgba(2, 2, 7, 0.8);
}

.light-mode .item-news-page .ct .title a,
.light-mode .item-news-page.hot .ct .title a,
.light-mode .item-news-page.v2 .ct .title a {
  color: #fff;
}

@media (max-width: 767px) {
  .light-mode .item-news-page .ct .title a,
  .light-mode .item-news-page.hot .ct .title a,
  .light-mode .item-news-page.v2 .ct .title a {
    color: #020207;
  }
}

.light-mode .intro-solution .info .item .icon {
  background-color: #d6d6d6;
}

.light-mode .intro-solution .info .item .ct {
  color: #020207;
}

.light-mode .list-detail-solution .item .icon {
  color: #fff;
  background-color: #b5b4b4;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.4);
  border: 2px solid #fff;
}

.light-mode .list-detail-solution .item .ct .title {
  color: #020207;
}

.light-mode .tabs-detail-solution .nav-tabs .nav-link {
  color: rgba(2, 2, 7, 0.6);
}

.light-mode .tabs-detail-solution .nav-tabs .nav-link:hover {
  color: #ea1c2d;
}

.light-mode .tabs-detail-solution .nav-tabs .nav-link.active {
  color: #ea1c2d;
}

.light-mode .wrap-price-detail {
  background-color: #f2f2f2;
}

.light-mode .wrap-price-detail .desc {
  color: rgba(2, 2, 7, 0.8);
}

.light-mode .tb-price tr td {
  border-color: rgba(0, 0, 0, 0.2);
}

.light-mode .tb-price tr td:first-child {
  color: #020207;
}

.light-mode .tb-price tr td:first-child, .light-mode .tb-price tr td:nth-child(2) {
  color: rgba(2, 2, 7, 0.8);
}

.light-mode .intro-solution {
  background-color: #f2f2f2;
}

.light-mode .intro-solution .info .item .ct span {
  color: #020207;
}

.light-mode .pagination .page-link {
  border: 1px solid #020207 !important;
  color: #020207;
}

.light-mode .pagination .page-link:hover {
  border-color: #ea1c2d !important;
  color: #fff !important;
}

.light-mode .tabs-news .nav-tabs {
  border-color: #4e4e52;
}

.light-mode .tabs-news .nav-tabs .nav-link {
  color: #020207;
}

.light-mode .tabs-news .nav-tabs .nav-link:hover {
  color: #ea1c2d;
}

.light-mode .tb-price.v2 tr td {
  color: #020207;
}

.light-mode .tb-price.v2 tr td:first-child {
  color: #020207;
}

.light-mode .tb-price.v2 tr td.price {
  color: #ea1c2d;
}

.light-mode .item-news-text .ct .desc {
  color: rgba(0, 0, 0, 0.8);
}

.light-mode .list-search .item-news-text {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.light-mode .banner-page.search .title-search {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.light-mode .solutions .nav-pills {
  background: #a9a9a9;
}

.light-mode .tabs-detail-solution.price .nav-tabs .nav-link {
  color: #020207;
}

.light-mode .wrap-price-detail .note .custom-checkbox .checkbox-container .checkmark:after {
  border: solid #fff;
  border-width: 0 3px 3px 0;
}

.light-mode .item-location .text {
  color: rgba(0, 0, 0, 0.8);
}

.light-mode .item-location .ic {
  background-color: #ea1c2d;
}

.light-mode .form-contact .form-group .btn-clear {
  color: #495057;
}

.light-mode .item-news-img .time span {
  background-color: #ea1c2d;
  color: #fff;
}

.light-mode .page-global-network {
  background-color: #f2f2f2;
  padding-bottom: 7rem;
}

@media (max-width: 575px) {
  .light-mode .page-global-network {
    padding-bottom: 0;
  }
}

@media (max-width: 480px) {
  .light-mode .member-group {
    background-color: #f2f2f2;
    padding-bottom: 3rem;
  }
}

@media (max-width: 1499px) {
  .light-mode .list-number {
    margin-bottom: -30px;
  }
}

@media (max-width: 1199px) {
  .light-mode header {
    background-color: #fff;
  }
  .light-mode header .wrap-header {
    color: #020207;
  }
  .light-mode header .logo {
    display: none;
  }
  .light-mode header .logo img {
    -webkit-filter: unset;
            filter: unset;
  }
  .light-mode header .logo.black {
    display: block;
  }
  .light-mode header.page .logo img {
    -webkit-filter: unset;
            filter: unset;
  }
  .light-mode .cas-number .slick-arrow {
    color: #fff;
  }
}

@media (max-width: 991px) {
  .light-mode .item-news-home .ct {
    color: #020207;
  }
  .light-mode .item-news-home .ct .desc, .light-mode .item-news-home .ct .view-detail .btn-title {
    color: rgba(28, 29, 35, 0.8);
  }
}

@media (max-width: 767px) {
  .light-mode .home-solutions,
  .light-mode .home-partner {
    padding-bottom: 30px;
  }
  .light-mode .list-number {
    margin-bottom: 0px;
  }
  .light-mode .item-news-page .ct .cate {
    background-color: #ea1c2d;
    color: #fff;
  }
}
/*# sourceMappingURL=lightMode.css.map */