@import "var";
@import "base";

.light-mode {
	.bg-sec-ld{
		background-color: #fff;
	}
	.ld-services{
		position: relative;
		.ld-list-services{
			position: relative;
			z-index: 1;
		}
		&:before{
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 22.5vw;
			height: 85%;
			background: url('../images/landing/dc-landing1.png') no-repeat center;
			background-size: 100% 100%;
			pointer-events: none;
		}
		&:after{
			content: '';
			position: absolute;
			right: 0;
			bottom: 0;
			width: 26vw;
			height: 80%;
			background: url('../images/landing/dc-landing2.png') no-repeat center;
			background-size: 100% 100%;
			pointer-events: none;
		}
	}
	.ld-solutions{
		background-color: #f2f2f2;
		padding-bottom: 13rem;
	}
	.ld-experts{
		background-color: #fff;
		padding-top: 6rem;
	}
	.ld-procedure {
		background-color: #f4f4f4;
	}
	.ld-contact{
		background-color: #fff;
		position: relative;
		&:before{
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 26vw;
			height: 55%;
			background: url('../images/landing/dc-landing4.png') no-repeat center;
			background-size: 100% 100%;
			pointer-events: none;
		}
	}
	.home-about.ld{
		background-color: #fff;
		&:before{
			z-index: 0;
		}
		.container{
			position: relative;
		}
	}
	.ld-review{
		background-color: #fff;
		position: relative;
		&:before{
			content: '';
			position: absolute;
			right: 0;
			bottom: 0;
			width: 28vw;
			height: 60%;
			background: url('../images/landing/dc-landing3.png') no-repeat center;
			background-size: 100% 100%;
			pointer-events: none;
		}
	}
	.home-partner.ld{
		background-color: #f2f2f2;
	}
	.item-service-ld {
		.head{
			color: #fff;
			z-index: 2;
		}
		.img{
			position: relative;
			&:before{
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 40%;
				background: linear-gradient(180deg, rgba(18, 18, 18, 0) 7.62%, rgba(18, 18, 18, 0.27) 30.86%, #121212 100%);
				z-index: 1;
				transition: 0.4s ease-in-out;
			}
		}
		.ct-abs{
			&:before{
				background: rgba(#fff,0.8);
			}
			.title{
				&:after{
					background: #020207;
				}
			}
			.link-connect li a{
				color: #020207;
				&:hover{
					color: $c1;
				}
			}
			.desc ul li:before{
				background-color: #020207;
			}
		}
		&:hover{
			.img:before{
				height: 0;
			}
		}
	}
	.tab-ld-solutions {
		.nav-tabs .nav-link{
			color: #888;
			&.active,&:hover{
				color: $c1;
			}
		}
	}
	.cas-ld-solution .item{
		background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 42.91%, rgba(255, 255, 255, 0) 100%); 
		&:before{
			background-color: #fff;
		}
		.ic{
			img{
				filter: brightness(0);
			}
			&:before{
				background-color: #020207;
			}
		}
	}
	.cas-ld-solution .cas-arrow:hover,
	.cas-ld-experts .cas-arrow:hover,
	.cas-ld-review .cas-arrow:hover,
	.cas-agile-ld .cas-arrow:hover{
		color: $c1;
	}
	.tab-ld-procedure {
		background: linear-gradient(179.93deg, #C4C4C4 0.06%, #FFFFFF 0.07%, rgba(255, 255, 255, 0) 91.19%);
		.nav-tabs .nav-link{
			background-color: #f4f4f4;
			&.active{
				background-color: #fefefe;
			}
		}
	}
	.item-procedure{
		.top{
			color: #888;
		}
		.ic{
			border-color: #888;
			img{
				filter: brightness(0.3);
			}
		}
		.num{
			border-color: #888;
			background-color: #fff;
		}
		.ct{
			&:before{
				background-color: #020207;
			}
			&:after{
				background-color: #020207;
			}
		}
		.note{
			color: #888;
		}
		&.active{
			.top{
				color: #020207;
			}
			.ic{
				border-color: #020207;
				&:before{
					border-top-color: #020207;
				}
				img{
					filter: brightness(0);
				}
			}
			.num{
				border-color: #020207;
			}
		}
	}
	.ct-procedure{
		&:after{
			background-color: #888;
		}
	}
	.cas-ld-experts .item {
		.ct{
			color: #fff;
		}
		.ct-abs{
			background-color: #e7e7e7;
			.info ul li:before{
				background-color: #020207;
			}
			.top:before{
				background-color: #020207;
			}
		}
	}
	.home-about.ld .view .title{
		color: #020207;
		&:hover{
			color: $c1;
		}
	}
	.cas-ld-review .item .ct .desc{
		border-color: #020207;
	}
	.home-partner.ld {
		.nav-link{
			color: #888;
			&.active,&:hover{
				color: $c1;
			}
		}
		.cas-partner {
			margin-top: -1rem;
			.slick-list{
				padding: 1rem 0 1.4rem 0;
			}
			.item-partner{
				background-color: #fff;
				box-shadow: 0 0.4rem 1.4rem 0 #c2c2c2;
			}
		}
	}
	.form-ld-contact{
		.form-group.sl:before{
			color: #888;
		}
		.form-control{
			background-color: rgba(#d8d8d8,0.5);
			border-color: rgba(#d8d8d8,0.5);
			color: #020207;
			&::placeholder{
				color: #888;
			}
			&:focus{
				border-color: $c1;
			}
		}
	}
	.ld-agile{
		display: none;
		background: #fff url('../images/landing/bg-agile-light.png') no-repeat center;
		background-size: cover;
		&.light{
			display: block;
			position: relative;
			&:before{
				content: '';
				position: absolute;
				left: 0;
				top: -5rem;
				height: 5rem;
				width: 100%;
				background-color: #fff;

			}
		}
		.top{
			margin-bottom: -4.8rem;
		}
	}
	.agile-map{
		background: none;
		padding-left: 5.6%;
	}
	.agile-content{
		background: none;
	}
	.cas-partner .item-partner.v3 .text{
		color: #020207;
	}
	.cas-partner{
		&.dark{
			display: none;
		}
		&.light{
			display: block;
		}
	}
	@media (min-width: 1400px) and (max-width: 1450px){
		.agile-map{
			padding-top: 0;
    		padding-left: 4.9%;
    		padding-right: 0;
		}
	}
	@media (max-width: 1199px) {
		.ld-agile{
			background: none;
			padding-bottom: 5rem;
		}
		.agile-map{
			padding-left: 0;
			background: url('../images/landing/bg-agile-light-mobile.png') no-repeat center;
			background-size: cover;
		}
	}
	@media (max-width: 991px) {
		.ld-review:before{
			height: 40%;
		}
		.ld-contact:before{
			display: none;
		}
		.ld-list-services .slick-dots li,
		.cas-ld-solution .slick-dots li,
		.cas-ld-experts .slick-dots li{
			background-color: rgba($c1,0.5);
			&.slick-active{
				background-color: $c1;
			}
		}
		.item-procedure {
			.top{
				color: #020207 !important;
			}
			.ic{
				border-color: #020207;
				&:before{
					border-top-color: #020207;
				}
				img{
					filter: brightness(0) !important;
				}
			}
			.num{
				border-color: #020207;
			}
		}
	}
	@media (max-width: 767px) {
		.ld-review{
			padding-bottom: 5rem;
		}
		.ld-contact{
			position: relative;
			padding-top: 10rem;
			margin-top: 0;
			&:after{
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				height: 5rem;
				width: 100%;
				background-color: #f2f2f2;
				pointer-events: none;
			}
		}
	}
	@media (max-width: 575px) {

		.ld-services:before{
			display: none;
		}
		.ld-services:after{
			width: 50%;
			height: 50%;
		}
		.ld-agile{
			padding-top: 0;
			.top{
				margin-bottom: 0;
			}
		}
		.agile-map{
			padding-bottom: 4rem;
			padding-top: 4rem;
		}
		.ld-review{
			&:before{
				height: 15rem;
			}
		}
	}
}
