html {
  font-size: 62.5%;
}

@media (max-width: 1650px) {
  html {
    font-size: 51%;
  }
}

body {
  font-size: 16px;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.5;
  color: #ffffff;
}

@media (max-width: 1650px) {
  body {
    font-size: 13px;
  }
}

.aps-loading > img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  margin: auto;
}

object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img,
ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
}

b, strong, th {
  font-weight: bold;
}

i, em {
  font-style: italic;
}

sub, sup {
  font-size: 75%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 20px 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
  outline: none;
}

ol, ul, li {
  padding: 0;
  list-style: none;
  margin: 0;
}

label {
  font-weight: normal;
}

input[type="text"], input[type="email"], input[type="password"] {
  padding-left: 12px;
  padding-right: 12px;
}

select {
  padding-left: 8px;
  cursor: pointer;
}

input[type="number"] {
  padding-left: 5px;
}

textarea {
  padding: 8px 12px 5px 12px;
}

input, textarea, select, button, a, button:hover, button:active, button:focus {
  outline: none;
}

button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

img {
  max-width: 100%;
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
}

html {
  font-size: 62.5%;
}

@media (max-width: 1650px) {
  html {
    font-size: 51%;
  }
}

body {
  font-size: 16px;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.5;
  color: #ffffff;
}

@media (max-width: 1650px) {
  body {
    font-size: 13px;
  }
}

.aps-loading > img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  margin: auto;
}

.container {
  padding-left: 13px;
  padding-right: 13px;
}

.row {
  margin-right: -13px;
  margin-left: -13px;
}

.row > .col,
.row > [class*="col-"] {
  padding-right: 13px;
  padding-left: 13px;
}

@media all and (min-width: 1200px) {
  .container {
    max-width: 1251px;
  }
}

@media all and (min-width: 1650px) {
  .container {
    max-width: 1478px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .container-ld {
    max-width: 85.72%;
  }
  .row {
    margin-right: -16px;
    margin-left: -16px;
  }
  .row > .col,
  .row > [class*="col-"] {
    padding-right: 16px;
    padding-left: 16px;
  }
}

@media (min-width: 1850px) {
  .container.container-head {
    max-width: 1780px;
  }
}

.pad-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.pad-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.pad-8 {
  padding-left: 8px;
  padding-right: 8px;
}

.pad-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.margin-auto {
  margin-left: auto;
  margin-right: auto;
}

.col-mar-0 {
  margin-left: 0px;
  margin-right: 0px;
}

.col-mar-0 [class*="col-"], .col-mar-0 .col {
  padding-left: 0px;
  padding-right: 0px;
}

.col-mar-5 {
  margin-left: -5px;
  margin-right: -5px;
}

.col-mar-5 [class*="col-"], .col-mar-5 .col {
  padding-left: 5px;
  padding-right: 5px;
}

.col-mar-7 {
  margin-left: -0.7rem;
  margin-right: -0.7rem;
}

.col-mar-7 [class*="col-"], .col-mar-7 .col {
  padding-left: 0.7rem;
  padding-right: 0.7rem;
}

.col-mar-8 {
  margin-left: -8px;
  margin-right: -8px;
}

.col-mar-8 [class*="col-"], .col-mar-8 .col {
  padding-left: 8px;
  padding-right: 8px;
}

.col-mar-10 {
  margin-left: -10px;
  margin-right: -10px;
}

.col-mar-10 [class*="col-"], .col-mar-10 .col {
  padding-left: 10px;
  padding-right: 10px;
}

.col-mar-11 {
  margin-left: -1.1rem;
  margin-right: -1.1rem;
}

.col-mar-11 [class*="col-"], .col-mar-11 .col {
  padding-left: 1.1rem;
  padding-right: 1.1rem;
}

@media (min-width: 1200px) {
  .col-mar-33 {
    margin-left: -3.3rem;
    margin-right: -3.3rem;
  }
  .col-mar-33 [class*="col-"], .col-mar-33 .col {
    padding-left: 3.3rem;
    padding-right: 3.3rem;
  }
  .col-mar-60 {
    margin-left: -6rem;
    margin-right: -6rem;
  }
  .col-mar-60 [class*="col-"], .col-mar-60 .col {
    padding-left: 6rem;
    padding-right: 6rem;
  }
  .col-mar-20 {
    margin-left: -2rem;
    margin-right: -2rem;
  }
  .col-mar-20 [class*="col-"], .col-mar-20 .col {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (max-width: 575px) {
  .col-mar-20 {
    margin-left: -7.5px;
    margin-right: -7.5px;
  }
  .col-mar-20 [class*="col-"], .col-mar-20 .col {
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
}

.fx-mid {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ifx-top {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.ifx-bot {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.ifx-mid {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.relative {
  position: relative;
}

.static {
  position: static;
}

.absolute {
  position: absolute;
}

.clearfix:before, .clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.ic {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.smooth {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

@media all and (max-width: 991px) {
  .md-pad-7 {
    margin: 0 -7px;
  }
  .md-pad-7 > [class^="col-"] {
    padding: 0 7px;
  }
  .md-pad-5 {
    margin: 0 -5px;
  }
  .md-pad-5 > [class^="col-"] {
    padding: 0 5px;
  }
}

@media all and (max-width: 767px) {
  .sm-pad-7 {
    margin: 0 -7px;
  }
  .sm-pad-7 > [class^="col-"] {
    padding: 0 7px;
  }
  .sm-pad-5 {
    margin: 0 -5px;
  }
  .sm-pad-5 > [class^="col-"] {
    padding: 0 5px;
  }
  .tb-responsive {
    display: block;
  }
  .tb-responsive tbody, .tb-responsive tfoot, .tb-responsive tr, .tb-responsive th, .tb-responsive td {
    display: block;
  }
  .tb-responsive thead {
    display: none;
  }
  .tb-responsive tr:nth-child(2n) {
    background: #f5f5f5;
  }
  .tb-responsive td {
    position: relative;
    padding: 10px 10px 10px 50%;
  }
  .tb-responsive td:before {
    content: attr(data-title);
    position: absolute;
    left: 0;
    width: 50%;
    padding-right: 15px;
  }
}

@media all and (max-width: 575px) {
  .xs-pad-7 {
    margin: 0 -7px;
  }
  .xs-pad-7 > [class^="col-"] {
    padding: 0 7px;
  }
  .xs-pad-5 {
    margin: 0 -5px;
  }
  .xs-pad-5 > [class^="col-"] {
    padding: 0 5px;
  }
}

.slick-list {
  margin: 0 -15px;
}

.slick-list .slick-slide {
  margin: 0 15px;
}

.slick-arrow {
  cursor: pointer;
  z-index: 1;
  text-align: center;
  position: absolute;
}

.slick-dots {
  text-align: center;
}

.slick-dots button {
  display: none;
}

.slick-dots li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border: solid 2px #666;
  border-radius: 50%;
  cursor: pointer;
}

.slick-dots li.slick-active {
  background: #666;
}

.i-select {
  position: relative;
}

.i-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-indent: 1px;
  text-overflow: '';
  width: 100%;
}

.s-content {
  word-break: break-word;
}

.s-content a[href] {
  color: #007bff;
}

.s-content a[href]:hover {
  text-decoration: underline;
}

.s-content a, .s-content a:hover, .s-content a:focus, .s-content a:active {
  text-decoration: underline;
}

.s-content ol {
  list-style: decimal;
  margin-left: 15px;
  margin-bottom: 10px;
}

.s-content ul {
  list-style: initial;
  margin-left: 15px;
  margin-bottom: 10px;
}

.s-content li {
  list-style: inherit;
  margin-bottom: 5px;
}

.s-content p {
  margin-bottom: 10px;
}

.s-content img {
  max-width: 100%;
  height: auto !important;
  margin: 10px auto;
  object_fit: initial;
}

.s-content .alignleft, .s-content img.alignleft {
  margin-right: 1.5rem;
  display: inline;
  float: left;
}

.s-content .alignright, .s-content img.alignright {
  margin-left: 1.5rem;
  display: inline;
  float: right;
}

.s-content .aligncenter, .s-content img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}

.s-content blockquote.left {
  margin-right: 20px;
  text-align: right;
  margin-left: 0;
  width: 33%;
  float: left;
}

.s-content blockquote.right {
  margin-left: 20px;
  text-align: left;
  margin-right: 0;
  width: 33%;
  float: right;
}

.s-content table, .s-content iframe {
  max-width: 100%;
  max-width: calc(100vw - 30px);
  margin: auto;
}

.s-content iframe {
  display: block;
}

.s-content h1, .s-content h2, .s-content h3, .s-content h4, .s-content h5, .s-content h6 {
  font-weight: bold;
}

.s-content h1 {
  font-size: 2rem;
  margin-top: 0.67rem;
  margin-bottom: 0.67rem;
}

.s-content h2 {
  font-size: 1.5rem;
  margin-top: 0.83rem;
  margin-bottom: 0.83rem;
}

.s-content h3 {
  font-size: 1.17rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.s-content h4 {
  font-size: 1rem;
  margin-top: 1.33rem;
  margin-bottom: 1.33rem;
}

.s-content h5 {
  font-size: .83rem;
  margin-top: 1.67rem;
  margin-bottom: 1.67rem;
}

.s-content h6 {
  font-size: .67rem;
  margin-top: 2.33rem;
  margin-bottom: 2.33rem;
}

.hc-upload {
  position: relative;
}

.hc-upload .hc-del {
  position: absolute;
  width: 24px;
  height: 24px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 21px;
  line-height: 1;
  text-align: center;
  border-radius: 50%;
  top: -12px;
  right: -12px;
  cursor: pointer;
}

.hc-upload .hc-del:hover {
  background: rgba(0, 0, 0, 0.85);
}

.aps-loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.95);
  z-index: 99999999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.aps-loading.active {
  opacity: 1;
  visibility: visible;
}

.aps-loading > img {
  width: 160px;
  zoom: 1.4;
  -webkit-animation: light 1.5s linear infinite;
          animation: light 1.5s linear infinite;
}

.aps-loading .ct {
  width: 90px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -45px;
}

.aps-loading .ct span {
  display: inline-block;
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
}

.aps-loading .ct span:first-child {
  bottom: 0;
  left: 0;
  -webkit-animation: hcload1 1.75s linear infinite;
          animation: hcload1 1.75s linear infinite;
}

.aps-loading .ct span:nth-child(2) {
  left: calc(50% - 5px);
  bottom: 0;
  -webkit-animation: hcload2 1.75s linear infinite;
          animation: hcload2 1.75s linear infinite;
}

.aps-loading .ct span:nth-child(3) {
  bottom: 0;
  right: 0;
  -webkit-animation: hcload3 1.75s linear infinite;
          animation: hcload3 1.75s linear infinite;
}

@-webkit-keyframes light {
  0% {
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
  }
  50% {
    opacity: 0.5;
    -webkit-filter: brightness(50%);
            filter: brightness(50%);
  }
  100% {
    opacity: 1;
    -webkit-filter: brightness(0%);
            filter: brightness(0%);
  }
}

@keyframes light {
  0% {
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
  }
  50% {
    opacity: 0.5;
    -webkit-filter: brightness(50%);
            filter: brightness(50%);
  }
  100% {
    opacity: 1;
    -webkit-filter: brightness(0%);
            filter: brightness(0%);
  }
}

@-webkit-keyframes hcload1 {
  33.33% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
  }
  66.66% {
    -webkit-transform: translate(0, -10px);
            transform: translate(0, -10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes hcload1 {
  33.33% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
  }
  66.66% {
    -webkit-transform: translate(0, -10px);
            transform: translate(0, -10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes hcload2 {
  33.33% {
    -webkit-transform: translate(0, 5px);
            transform: translate(0, 5px);
  }
  66.66% {
    -webkit-transform: translate(0, -5px);
            transform: translate(0, -5px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes hcload2 {
  33.33% {
    -webkit-transform: translate(0, 5px);
            transform: translate(0, 5px);
  }
  66.66% {
    -webkit-transform: translate(0, -5px);
            transform: translate(0, -5px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes hcload3 {
  33.33% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
  }
  66.66% {
    -webkit-transform: translate(0, -10px);
            transform: translate(0, -10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes hcload3 {
  33.33% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
  }
  66.66% {
    -webkit-transform: translate(0, -10px);
            transform: translate(0, -10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
/*# sourceMappingURL=loading.css.map */