.body-contact {
  background-color: #ffffff;
}

.main-contact {
  max-width: 1120px;
  margin: auto;
  padding-top: 72px;
  padding-bottom: 72px;
  border-bottom: 1px solid #989898;

  .title-header-contact {
    font-size: 34px;
    font-weight: 600;
    line-height: 45px;
    color: #333333;
    margin-bottom: 32px;
  }
  .content-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left-contact {
      flex-basis: calc(317px);
      .table-style-apartment {
        width: 100%;
      }

      .box-hot-link {
        border: 1px solid #1839b1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 108px;
        margin-bottom: 20px;
        .title-box {
          font-size: 16px;
          font-weight: 600;
          line-height: 22px;
          text-align: center;
          color: #1839b1;
        }
        .hot-line-phone {
          font-size: 24px;
          font-weight: 600;
          line-height: 56px;
          letter-spacing: 0.06em;
          color: #1839b1;
          display: flex;
          align-items: center;
        }
      }
      .text-footer-hotline {
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        text-align: center;
        color: #505050;
      }
    }
    .right-contact {
      flex-basis: calc(100% - 317px - 32px);
      .style-map {
        height: 100%;
        width: 100%;
        border: 0;
      }
    }
  }

  .text-style-1 {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    color: #333333;
    margin-bottom: 10px;
  }
  .description-style-2 {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }

  .row-social-item {
    margin-top: 32px;

    .text-style-social {
      font-size: 20px;
      font-weight: 600;
      line-height: 28px;
      color: #333333;
    }
    .list-social {
      .icon-social {
        margin-right: 48px;
      }
    }
  }
}

.form-contact {
  max-width: 595px;
  margin: auto;
  padding-top: 72px;
  padding-bottom: 72px;
  .title-form {
    font-size: 34px;
    font-weight: 600;
    line-height: 45px;
    text-align: center;
    color: #333333;
    margin-bottom: 40px;
  }
  .grid-list-item-form {
    display: flex;
    justify-content: space-between;
    .item-form {
      flex-basis: calc(50% - 32px);
    }
  }

  .item-input-form {
    .lable-name {
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      color: #333333;
    }
    .style-form-input {
      width: 100%;
      height: 46px;
      border: 0;
      outline: 0;
      border-bottom: 1px solid #8d8d8d;
    }
  }

  .button-submit-form {
    width: 215px;
    height: 56px;
    background: #1839b1;
    box-shadow: 0px 0px 14px 0px #0000001f;
    border: 0;
    margin: 40px auto;
    font-size: 18px;
    font-weight: 500;
    line-height: 22.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: #ffffff;
  }
}
